<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inovex.zabbixmobile"
    android:versionCode="16"
    android:versionName="2.0.2" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" >
    </supports-screens>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.ProblemsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.EventsActivity"
            android:label="@string/activity_events" >
        </activity>
        <activity
            android:name=".activities.ChecksActivity"
            android:label="@string/activity_checks" >
        </activity>
        <activity
            android:name=".activities.ScreensActivity"
            android:label="@string/activity_screens" >
        </activity>
        <activity
            android:name=".activities.ZaxPreferenceActivity"
            android:label="@string/activity_preferences" >
        </activity>
        <activity
            android:name=".activities.GraphFullscreenActivity">
        </activity>

        <service android:name="com.inovex.zabbixmobile.data.ZabbixDataService" >
        </service>

        <receiver android:name="com.inovex.zabbixmobile.ExceptionBroadcastReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.inovex.zabbixmobile.EXCEPTION" >
                </action>
            </intent-filter>
        </receiver>
        
        <receiver android:name=".push.BootCompletedIntentReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
		
        <!-- Homescreen Widget -->
		<receiver android:name=".widget.ZaxWidgetProvider">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="com.inovex.zabbixmobile.WIDGET_UPDATE" />
			</intent-filter>
			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/widget_info" />
		</receiver>
        
		<service android:name=".data.HomescreenWidgetService"></service>
        <service android:name=".push.PushService" android:process=":pushservice"></service>
    </application>

</manifest>